*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/app/app-release.apk
/captures
/2.iml
/.idea
/settings.gradle
/build.gradle
/gradle
/gradlew
/gradle.properties
/gradlew.bat